* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #edffec;
  font-family: monospace;
  color: #222;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}

/*-------header-----------*/
.header {
  background: #FF6067;
  color: white;
  padding: 1rem;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .site-title, .header .site-logo {
  font-weight: 400;
}
.site-title, h2 {
  font-family:monospace;
  font-size: 2.6rem;
  color: #4a1c40;
}
h2{
  margin-top: 1rem;
  margin-bottom:2rem;
  text-align: center;
}
.site-title {
  color: white;
}
.site-logo {
  font-size: 1.2rem;
  font-style: italic;
}

/*----------navbar--------------*/
.main-nav {
  background: #F7EE1A;
  color: white;
}
.main-nav a {
  font-size: 1.4rem;
  font-weight: 600;;
  color: #1A577F;
  text-decoration: none;
}
.main-nav ul, .main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.main-nav ul a {
  padding: 0.9rem 2rem;
  display: flex;
  text-transform: uppercase;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  background: #FF6067;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
}
.main-nav ul .nav-link a {
  position: absolute;
  left: -99rem;
}
/*---------------article section---------*/
.big_img {
  background-size: cover;
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.small_img {
  background-image: url('/img/abstract.jpg');
}
.small_img2 {
  background-image: url('/img/fod.jpg');
}
.columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.columns .item {
  padding: 1.5rem;
  max-width: 47%;
  background: #94b5c0;
  color: #333;
  border-bottom: 5px solid #ffc93c;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.columns .item .item-title {
  color: #011d23;
  font-size: 24px;
  margin: 0 0 5px;
  font-family:monospace;
}
.columns .item .item-image {
  max-width: 100%;
}
.columns .item:hover, .columns .item:focus {
  background: #eeebdd;
  border-bottom-color: #ce1212;
}
/*-----------footer----------*/
.footer {
  background: #FF6067;
  color: white;
  padding: 0.9rem;
  text-align: center;
  font-size: 0.8rem;
}
.footer a {
  color: #F7EE1A;
  text-decoration: none;
  border-bottom: 1px solid;
}
