* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0.5rem 2rem;
  background: #edffec;
  font-family: monospace;
  color: #222;
  border:#FF6067 2rem solid;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}

/*-------header-----------*/
header.header {
  width: 100%;
  height: 8vh;
  background: #FF6067;
  color: white;
  padding: 1rem;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.site-title, h2 {
  font-family:monospace;
  font-size: 2rem;
  color: #4a1c40;
  margin-top: 1rem;
  margin-bottom:2rem;
  text-align: center;
   box-shadow: 2px 5px #bbb;
}
h4.site-title  {
  font-family:monospace;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 0;
  text-align: center;
  box-shadow: none;
}
h1.site-title  {
  font-size: 2rem;
  color: white;
}
.site-logo {
  margin-top: 1rem;
  margin-bottom:2rem;
  font-size: 1.2rem;
  font-style: italic;
}
.post {
  padding : 1rem;
}

/*----------navbar--------------*/
.main-nav {
  background: #F7EE1A;
  color: white;
}
.main-nav a {
  font-size: 1.4rem;
  font-weight: 600;;
  color: #1A577F;
  text-decoration: none;
}
.main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul a {
  padding: 0.9rem 2rem;
  display: flex;
  text-transform: uppercase;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  background : #f8f5f1dc;
  color: #333;
  border-radius: 1rem;
}
.main-nav ul .nav-link a {
  position: absolute;
  left: -99rem;
}
/*---------------article section---------*/
.site-title,h3{
  font-family:monospace;
  font-size: 2.6rem;
  color: #4a1c40;
  margin-top: 1rem;
  margin-bottom:2rem;
  text-align: center;
  box-shadow: 2px 5px #bbb;
}
.big_img {
  background-size: cover;
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.small_img {
  background-image: url('/img/abstract.jpg');
}
.small_img2 {
  background-image: url('/img/fod.jpg');
}
.columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.columns .item {
  padding: 1.5rem;
  max-width: 47%;
  background: #94b5c0;
  color: #333;
  border-bottom: 5px solid #ffc93c;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
    box-shadow: 8px 7px #bbb;
}
.columns .item .item-title {
  color: #011d23;
  font-size: 24px;
  margin: 0 0 5px;
  font-family:monospace;
}
.columns .item .item-image {
  max-width: 100%;
}
.columns .item:hover, .columns .item:focus {
  background: #eeebdd;
  border-bottom-color: #ce1212;
}
/*-----------footer----------*/
.footer {
  background: #ffc93c;
  color: #111;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight:700;
}
.footer a {
  color: #04009a;
  list-style: none;
  text-decoration: none;
  border-bottom: 1px solid;
}
.bx{
  margin-left: 0.2rem;
  font-size: 1.1rem;
  color: #04009a;
}
.footer a:hover{
  background: #fff;
  color: #333;
  border-radius: 0.2rem;
  font-weight: 600;
  padding: 0.5rem 0.1rem;
}

/*-----media---------------*/

@media screen and (max-width: 1025px) {
body {
  margin: 0.5rem;
  background: #edffec;
  font-family: monospace;
  color: #222;
  border: #FF6067 0.5rem solid;
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}

  .header  {
    width: 100vw;
    text-align: center;
  }
  .header .site-title {
    margin: -0.2rem 0;
  }
  h1.site-title  {
  font-size: 1rem;
  color: white;
  box-shadow: none;
}
.site-logo {
  margin:-0.3rem;
  font-size: 0.8rem;
  font-style: italic;
}
.site-title,h2,h3{
  font-family:monospace;
  font-size: 0.9rem;
  color: #4a1c40;
  margin-top: 1rem;
  margin-bottom:2rem;
  text-align: center;
  box-shadow: none;
}
.main-nav {
  width: 100%;
  background: #F7EE1A;
  color: white;
}
.main-nav a {
  font-size: 0.8rem;
  font-weight: 700;;
  color: #1A577F;
  text-decoration: none;
}
.main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul a {
  padding: 0.9rem 0.5rem;
  display: flex;
  text-transform: uppercase;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  background : #f8f5f1dc;
  color: #333;
  border-radius: 1rem;
}
.main-nav ul .nav-link a {
  position: absolute;
  left: -99rem;
}
.columns .item {
  max-width: 100%;
  margin-right: 3rem;
  margin-left: 0.8rem;
  box-shadow: none;
}
h4.site-title  {
  position: relative;
  top: -0.8rem ;
  font-size:1.1rem;
}

}

/*---------social button------------*/

@media screen and(max-width: 700px) {
  body {
    padding: 170px 0 0;
    width: 100%;
  }
}

a {
  color: inherit;
}

.drop-item,
.menu-open-button {
  background: #ffb037;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin-left: -2.5rem;
  position: absolute;
  color: #ffffff;
  text-align: center;
  line-height: 1rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background: #333;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  margin: auto;
  position: relative;
  top: 11rem;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.drop-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.drop-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.drop-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.drop-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.drop-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.drop-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked~.drop-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked~.drop-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked~.drop-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}

.facebook {
  background-color: #185adb;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.bxl-facebook{
   margin: 0.7rem 0;
  font-size:1.8rem;
  padding: 0;
}

.facebook:hover {
  color: #1100fd;
  text-shadow: none;
}

.linkedin {
  background-color: #f8002d;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.bxl-linkedin{
   margin: 0.7rem 0;
  font-size:1.8rem;
  padding: 0;
}
.linkedin:hover {
  color: #f8002d;
  text-shadow: none;
}

.github {
background-color: #e93b81;

  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.bxl-github{
   margin: 0.7rem 0;
  font-size:1.8rem;
  padding: 0;
}
.github:hover {
  color: #ff6b83;
  text-shadow: none;
}

.twitter {
background-color: #005792;

  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.bxl-twitter{
   margin: 0.7rem 0;
  font-size:1.8rem;
  padding: 0;
}
.twitter:hover {
  color: #62c2e4;
  text-shadow: none;
}
